---
# Only the main Sass file needs front matter (the dashes are enough)
---
$content-width: 100%;

@import "minima";

.inner {
  max-width: 90%;
  width: 83.05085%;
}

main {
  max-width: 90%;
  width: 83.05085%;
  margin: auto;
}
